{% extends 'home.html' %}

{% block body %}

<h1>
    <a href="{% url 'Course_ReviewAdd' %}">Course_ReviewAdd </a>
</h1><br>
            <div class="card">
            <h2> Course Table List</h2>
            <table>
                <thead>
                    <tr>
                        <th>student</th>
                        <th>course</th>
                        <th>rating</th>
                        <th>comment</th>
                        <th>created_at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for i in C_data %}
                        <tr>
                            <td>{{i.student}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.rating}}</td>
                            <td>{{i.comment}}</td>
                            <td>{{i.created_at}}</td>
                            
                            <td>
                                <a href="{% url 'Course_ReviewEdit' i.id %}">Edit</a>
                                <a href="{% url 'Course_ReviewDelete' i.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>

{% endblock body %}
    