<nav class="navbar">
        <div class="logo">MyApp</div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'Dep_page' %}">DepartmentPage</a></li>
            <li><a href="{% url 'Doctor_page' %}">DoctorPage</a></li>
            <li><a href="{% url 'PatientPage' %}">PatientPage</a></li>
            <li><a href="{% url 'ApointmentPage' %}">ApointmentPage</a></li>
            <li><a href="{% url 'signout' %}">Logout</a></li>
            <li><a href="{% url 'changepass' %}">Changepassword</a></li>
        </ul>
    </nav>
