{% extends 'CalorisCounter/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card p-4">
            <h2 class="mb-4" style="color: #1e3c72;">Profile Setup</h2>
            <p class="text-muted"> calculate your daily BMR </p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Save Profile</button>
            </form>
        </div>
    </div>
</div> 
{% endblock %}
