<nav class="navbar">
  <div class="logo">MyApp</div>
  <ul>
    <li><a href="{% url 'profile_page' %}">About</a></li>
    <li><a href="{% url 'project_list' %}">Projects</a></li>
    <li><a href="{% url 'skill_list' %}">Skills</a></li>
    <li><a href="{% url 'experience_list' %}">Experience</a></li>
    <li><a href="{% url 'resume_page' %}">Resume</a></li>

  {% if request.user.is_authenticated %}
  <li><a href="{% url 'logout_Page' %}">Logout</a></li>
       
      {% endif %}

    
    
      
    
    
  </ul>
</nav>
