{% extends 'master/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
  <a href="{% url 'add_project' %}" class="btn btn-edit">Add Project</a>
  {% endif %}

  <div class="card-container">
    {% for data in project_data %}
      <div class="card">
        <img src="{{ data.image.url }}" alt="Image" />
        <div class="card-content">
          <div class="card-title">{{ data.title }}</div>
          <div class="card-desc">{{ data.description }}</div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="card-actions">
          <a href="{% url 'edit_project' data.id %}" class="btn btn-edit">Edit</a>
          <a href="{% url 'delete_project' data.id %}" class="btn btn-delete">Delete</a>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
